body {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* background-color: rgba(240, 244, 244, 0.6); */
    background-color: #eef1f5;
    /* background-color: #F0F4F4; */
}
a {
    color: white;
}
a:hover {
    color: white;
    text-decoration: none;
}
/******Start of Header******/
header {
    height: 50px;
    width: 100%;
    background-color: #3e505c;
    /* background-color: #2e4257; */
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-content {
    color: white;
    font-size: 16px;
    padding: 10px;
    letter-spacing: 0.5px;
    font-family: "Roboto", sans-serif;
}
.header-store {
    font-style: italic;
    width: 25%;
    display: inline-block;
    font-size: 22px;
}
.header-time {
    text-align: center;
    width: 50%;
    display: inline-block;
    font-weight: 500;
    opacity: 0.9;
}
.header-user {
    text-align: right;
    width: 23%;
    display: inline-block;
    opacity: 0.9;
}
.header-icon {
    font-size: 22px;
    padding: 2px;
}
/******End of Header******/

/******Start of Nav bar******/
.navigation {
    height: 100%;
    width: 70px;
    position: fixed;
    top: 50px;
    background-color: #5c8bab;
    /* background-color: #5691c8; */
    color: white;
    box-shadow: 8px 0 6px rgba(92, 139, 171, 0.2);
}
.nav-icon {
    font-size: 20px;
    padding: 15px;
    padding-bottom: 6px;
    padding-top: 33px;
}

.nav-text {
    font-size: 11px;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
.nav-btn{
    background-color: transparent;
    border: none;
    color: white;
}
#sidebarCollapseHome{
padding-left: 8px;
}
#navbar {
    min-width: 201px;
    max-width: 200px;
    min-height: calc(100vh - 50px);
    position: fixed;
    height: 90vh;
    z-index: 10;
    background: white;
    color: black;
    transition: all 0.3s;
    top: 50px;
    display: none;
    left: 70px;
}
#navbar li a{
    color: black;
    font-weight: 500;
}
#navbar li a:hover{
    color: #537d99;
}
#navbar li a:focus{
    color: #537d99;
}
#navbar.active {

    display: block;

}

/******End of Nav bar******/
/******Start of main******/

.main {
    margin-left: 100px;
    margin-top: 70px;
    margin-right: 50px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
}
.margin{
    margin-left: 300px;
}
.pg-heading {
    font-size: 26px;
}
.pg-title {
    color: #444;
    display: inline-block;
    padding-left: 5px;
}
.pg-back {
    color: rgb(192, 192, 192);
}
/******Start of Section ******/
.section {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    height: 100%;
    letter-spacing: 0.8px;
    box-shadow: 6px 5px 8px rgba(142, 135, 135, 0.1);
}

.section-title {
    color: #2bbdb9;
    font-size: 22px;
    padding-left: 18px;
}
.section-title-sub {
    padding-left: 0;
}
.section-content {
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}
.section .row {
    padding: 20px 18px;
}
.section-sub .row {
    padding: 0px 0px;
}
.form-control::placeholder {
    color: #444;
    opacity: 0.5;
}

.secondary-section {
    margin-top: 20px;
}

.last-section {
    margin-bottom: 50px;
    height: fit-content;
}
/******* Start of Floating Label******/
.float-label {
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    padding: 7px 0 0 0px;
}
.form-control:placeholder-shown + .float-label {
    visibility: hidden;
}
.form-control:focus::placeholder{
    visibility: hidden;
    color: transparent;
}


.form-control:not(placeholder-shown) + .float-label,
.form-control:focus + .float-label {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, -110%, 0);
}
/******* End of Floating Label******/
.btn-submit {
    float: right;
    padding: 8px 25px;
    margin-right: 15px;
    background-image: linear-gradient(to right, #2bbdb9, rgb(43, 189, 185));
    color: white;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    border-radius: 3px;
    box-shadow: 6px 5px 8px rgba(43, 189, 185, 0.1);
}
.section .submit-row {
    padding: 0px;
}

/******Start of Radio Button*******/
.form-check {
    padding-top: 5px;
}
.form-check-label {
    margin-left: 5px;
}
/******* Outer Radio Circle before checked ******/
input[type="radio"]:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: "";
    display: inline-block;
    visibility: visible;
    border: 1px solid #d1d3d1;
    transform: scale(1.2);
}
/******* Outer Radio Circle ******/
input[type="radio"]:checked:before {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    transform: scale(1.2);
    content: "";
    display: inline-block;
    visibility: visible;
    border: 1px solid #192b3c;
}
/******* Inner Radio Circle ******/
input[type="radio"]:checked:after {
    width: 7px;
    height: 7px;
    border-radius: 15px;
    top: -29.4px;
    left: 3.75px;
    position: relative;
    background-color: #192b3c;
    content: "";
    display: inline-block;
    visibility: visible;
    border: 1px solid #192b3c;
}
/******End of Radio Button*******/

/******Start of table******/
.all-table {
    padding: 20px 10px;
    text-align: center;
}
.table-head th {
    font-weight: 500 !important;
}
.table-head {
    /* background-image: linear-gradient(to right, #2bbdb9, rgb(43, 189, 185)); */
    /* background-color: #3e505c; */
    background-color: #192b3cf2;
    color: white;
}
/******* Search Bar******/
.dataTables_filter {
    float: left !important;
}
.dataTables_filter input[type="search"] {
    width: 250px !important;
    padding: 20px 10px;
}
/******* Show entries label******/
.dataTables_length label {
    margin-bottom: 0;
}
.dataTables_length {
    padding-top: 8px;
}
/****** Table Page number and length in the bottom *******/
.bottom {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 0 10px;
}

.add-btn {
    float: right;
    padding: 10px 20px;
    margin-right: 15px;
    /* background-color: #3e505c; */
    background-color: #2bbdb9;
    color: white;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px;
    box-shadow: 6px 5px 8px rgba(43, 189, 185, 0.1);
}
.demo-btn{

    padding: 10px 20px;
    margin-right: 15px;
    background-color: #2bbdb9;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px;
    box-shadow: 6px 5px 8px rgba(43, 189, 185, 0.1);
    display: inline-block;
    right: 35px;
    position: absolute;
}
/******* Start of Action icon ******/
/* Pencil Edit icon */
.action-icon a {
    color: #058de9;
    font-size: 18px;
    padding: 10px 10px;
    border-radius: 5px;
}
.action-icon a:hover {
    background-color: #058de9;
    color: white;
}
/*Delete icon */
.dlt-btn {
    background-color: transparent;
    border: none;
    display: inline-block;
    color: #058de9;
    font-size: 18px;
    outline: none;
    padding: 7.5px 12px;
    border-radius: 5px;
}
.dlt-btn:hover {
    background-color: #058de9;
    color: white;
}
.dlt-btn:focus {
    outline: none;
}
.dlt-form {
    display: inline-block;
}
/****** End of action icons ******/
/****** Page number ******/
.page-item.active .page-link {
    background-color: #5792df;
}
/****** Change the table stripe order *******/
.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
    background-color: rgba(0, 0, 0, 0.03);
}
.table-striped > tbody > tr:nth-child(odd) > td {
    background-color: white;
}
.table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
}
/******Toggle Switch******/
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2bbdb9;
    /* background-color: #41af4b; */
    /* background-color: #2196F3; */
}

input:focus + .slider {
    box-shadow: 0 0 1px #2bbdb9;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/****** End of Toggle Switch ******/
/****** End of Table *****/

/******Start of POS Terminal*****/
.pos-terminal {
    background-color: white;
}
.pos {
    margin-left: 10px;
    margin-top: 80px;
    margin-right: 10px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
}
.pos .row {
    margin-left: -10px;
    margin-right: -10px;
}
/******Search Bar******/
.pos .search-icon {
    color: white;
    font-size: 24px;
    background-color: #256ea1;
    padding: 5px 15px;
    display: inline-block;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.pos .search-bar {
    display: inline-block;
    width: 66%;
}
.search-textbox {
    height: 50px;
    font-size: 20px;
    letter-spacing: 0.5px;
    width: 100%;
}
.load-spinner{
    position: absolute;
    right: 5%;
    top: 34px;
    display: none ;
    /* display: inline-block; */
    opacity: 0.2;
}
.load-spinner-return{
    right: 35px;
    top: 10px;
}
.v-btn{
    background-color: #5c8bab !important;
    color: white;
    font-weight: 600;
    font-size: 12px;
    padding: 15px 11px;
    text-align: center !important;
    width:13% !important;
}
/******* End of Search bar *******/

/****** Item display ******/

.item-display {
    border: 1px solid #d8cfcf;
    padding: 20px;
    margin-top: 20px;
    height: 79vh;
    width: 100%;
}

.item-table-head {
    background-color: #f0f4f4;
}
.item-table-row {
    background-color: rgba(243, 243, 243, 0.28);
}
.backend .item-table-head {
    /* background-color: #f0f4f4; */
    background-color: #5c8bab !important;
    color: white !important;
}
.backend .item-table-row {
    background-color: rgb(255 255 255 / 76%);
}
.pos .table {
    text-align: center;
}

/****** End of the table ******/

.price-display {
    border: 1px solid #d8cfcf;
    padding: 20px;
    height: 100%;
}
.mini-display {
    border: 1px solid #d8cfcf;
    padding: 10px;
    margin-bottom: 15px;
}
.mini-display-btn{
    width: 100%;
}
.s-icon {
    color: #5c8bab;
    font-size: 30px;
}
.s-text {
    font-size: 20px;
    padding-left: 10px;
    vertical-align: 4px;
}

.display-info {
    font-size: 20px;
}
.display-values {
    float: right;
}
.pay-btn-div {
    padding: 10px;
    margin-bottom: 15px;
    color: white;
    margin-top: 15px;
    background-color: #2bbdb9;
}
.pay-btn{
    width: 100%;
}
.btn {
    /* background-color: transparent; */
    border: none;
    /* width: 100%; */
    text-align: left;
    outline: none;
}

.btn:focus {
    outline: none;
}
.btn:hover{
    color: white;
}
.mini-display-btn:hover{
    color: black;
}
.pay,
.pay-value {
    color: white;
    font-size: 36px;
    font-weight: 600;
}
.pay-value {
    float: right;
}
.sub-btn-div {
    display: flex;
    justify-content: space-between;
}
.sub-btn {
    background-color: #256ea1;
    color: white;
    font-weight: 600;
    font-size: 12px;
    padding: 15px 11px;
    width: 100%;
    text-align: center;
}
.sub-icon {
    font-size: 16px;
    float: left;
}
.sub-btn-txt {
    padding-left: 1px;
}

.pos-header {
    background-color: #5c8bab;
}

/***** Product Search dropdown ********/
.product-dropdown {
    background-color: white;
    width: 90%;
    margin-left: 59px;
    margin-top: 5px;
    position: absolute;
    height: 60%;
    border: 3px solid;
    border-color: #80bdff;
    overflow: auto;
    display: none;
}
.product-dropdown-1 {
    background-color: white;
    width: 90%;
    margin-left: 59px;
    margin-top: 5px;
    position: absolute;
    height: 60%;
    border: 3px solid;
    border-color: #80bdff;
    overflow: auto;

}
.product-search .dropdown-menu{
    background-color: white;
    width: 90%;
    margin-top: 5px;
    position: absolute;
    height: 60%;
    border: 3px solid;
    border-color: #80bdff;
    overflow: auto;
}
.outclick{
    position: fixed;
    top:0 ;
    bottom: 0;
    left:0;
    right: 0;


}
.pr-code {
    text-align: left;
}
.pr-price {
    text-align: right;
}

.p-link:hover {
}
.product-search .dropdown-menu tr:hover {
    background-color: #80bdff21;
    cursor: pointer;
}

#cus, #emp{
    display:none;
}
.table-qty,.table-discount{
    width: 100%;
    text-align: center;
    background-color: transparent;
    border: none;
    font-weight: 600;
}
.discount-plus{
    background: transparent;
    border: none;
    outline: none;
}
.pos-discount{
    border: 1px solid #d8cfcf;
    padding: 20px;
    font-size: 16px;
    width: 70%;
    height: 125px;
    display: none;
    position: absolute;
    background-color: white;
    color: #495057;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);

}
/******* Outer Radio Circle before checked ******/
.pos-discount input[type="radio"]:after {

    top: -5px;
    left: -1px;

}
/******* Outer Radio Circle ******/
.pos-discount input[type="radio"]:checked:before {

    top: -5px;
    left: -1px;

}
/******* Inner Radio Circle ******/
input[type="radio"]:checked:after {

    top: -33px;
    left: 3px;

}
/******End of Radio Button*******/

/*****Variants*****/
 /* .inv-label{
    display: none;
} */
.barcode-col{
    position: relative;
    top: 21px;
}
.inv-col{
    position: relative;
    top: -10px;
}
.section .qty-row{
    padding-top: 0;
}
.variant-label{
    font-weight: 400;
    line-height: 2.2;
}
.preview-table {
    text-align: center;
}
.preview-table td{
    padding: 10px 50px;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}
.preview-table tr{
    line-height: 60px;
}
.preview-table .first-row{
    line-height: 20px;
}

.qty-td{
    width: 240px;
}

.price-var{
    width: 50px !important;
}
.minus-btn,
.plus-btn {
    background-color: #5c8babd4 !important;
}
.minus-btn .btn:focus,.plus-btn .btn:focus{
    background-color: #2e2e2ed4 !important;
}
.minus-btn button:hover,
.plus-btn button:hover,.minus-btn button:active,
.plus-btn button:active{
    background-color: #4f94c2 !important;
    border: none;
    box-shadow: none !important;

}
.minus-btn button:focus,
.plus-btn button:focus {
    background-color: #5c8babd4 !important;
    border: none;
    box-shadow: none;

}

.qty-spinner:focus {
    box-shadow: none;
}
.qty-spinner {
    width: 25px !important;
    text-align: center;
}
/****** Barcode ******/
.barcode .store-name{
    font-size: 10px;
    font-weight: 800;
    font-family: serif;
}
.ll,.kur{
    font-weight: 800;
    line-height: 1.2;
}
.ll{
    font-size: 14px;
}
.kur{
    font-size: 8px;
    margin-bottom: 4px;
}
.barcode-img{
    text-align: center;
}
.barcode{
    height: 75px;
    width: 128px;
    text-align: center;
    background-color: white;
    padding: 10px;
    border: 1px solid #777777;



}
.barcode-content{
    transform: translateX(-5px);
}
.pr-details{
    font-size: 8px;

}
.barcode-price{

    font-weight: 800;
    transform: rotate(-90deg);
    text-align: right;
    position: relative;
    bottom: 6px;
    right: -90px;

}

.barcode-price-print{

    font-weight: bolder;
    transform: rotate(-90deg);
    text-align: right;
    font-size: 16px;
    position: relative;
    top:-35px;
    left:58px;

}
.rs{
    font-size: 14px;
    font-weight: 800;
}

/******Barcode Print*******/
.barcode-print{
    background-color: white;
    margin: 0 -25px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
}
.barcode-table{
    border-collapse: collapse;
    border-spacing: 0;
}


.var-display{
    height: 300px;
    width: 600px;
    background-color: #ffffff;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    display: none;
    -ms-transform: translate(-10%, -50%);
    transform: translate(-10%, -50%);
    margin: 0;
    border: 1px solid #777777;
    padding: 20px;
}
.var-display-title{
    font-size: 25px;
}
.var-btn{
    border: 2px solid #777777;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #fbfbfb;
    outline: none;
    margin-right: 10px;
    margin-bottom: 10px;
}
.var-disabled{
    border: 2px solid #b1b1b1;
}
.wrapper {

    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: calc(100vh - 53px);
    position: absolute;
    height: 90vh;
    z-index: 10;
    background: #256ea1;
    color: #fff;
    transition: all 0.3s;
    top:53px;
    display: none;
}
#sidebar.active {

    display: block;

}

.btn-nav{
    background: none;
    border: none;
    color: white;
}
.pos-header-user{
    width:22%;
}
.pos-nav-li{
    padding: 10px;
    border-bottom: 1px solid white;
    margin-left: 5px;
    margin-right: 5px;
}
.pos-sub-display{
    height: fit-content;
    width: 600px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    border: 2px solid#256ea145;
    display: none;
    border-top: none;
    box-shadow: 8px 8px 6px rgb(190 190 190 / 20%);
}
/* #posSubService{
    display: block;
} */
.pos-sub-display-title{
    font-size: 25px;
    background-color: #256ea1;
    color: white;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 10;
}


.pos-sub-display-content{
    padding: 12px 20px;

    margin-top: 60px;
}

.pos-sub-txtArea{
    width: 100%;
    border: 1px solid #ced4da;
    padding: 5px 20px;
}
.close-btn{
    float: right;
    border: none;
    background: none;
    color: white;
}
.var-display .close-btn{
    /* background-color: rgb(182, 46, 46); */
    color: rgb(182, 46, 46);
}

button:focus{
    outline:none;
}
.full-pg{
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    background-color: rgba(46, 45, 45, 0.1);
    display: none;
}
.pos-discount .full-pg{
    background-color: transparent;
    position: fixed;
}
.block{
    display: block;
}
.pos-sub-display .add-sub-btn{
    background-color: #256ea1;
    font-weight: bold;
    color: white;
    padding: 10px 40px;
    float: right;
    border:none;
    margin-bottom: 20px;

}
.emp-attendance .pos-sub-display-title{
    background-color:#3e505c ;
}
.emp-attendance .add-sub-btn{
    background-color:#3e505c ;
}
.payment-btn{

    background-color: #2bbdb9;
    font-weight: bold;
    color: white;
    padding: 10px;
    width: 105px;
    border:none;
    margin-bottom: 20px;
}
.pos-pay{
    max-height: 85vh;
    z-index: 10;
    width: 700px;

}
.pos-loyalty-width{
    width:1000px;
}
.pay-customer{
    border: 1px solid #d8cfcf;
    display: none;
    /* padding: 0 10px; */

}
.pay-customer .row{
    margin-top: 15px;
    margin-left: 5px;
}
.row.cus-heading{
    margin-top: 0;
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px 10px 10px 10px;
    background-color: #192b3c;
    color: white;
}
.cus-heading h5{
    text-align: center;
    font-weight: 600;
    /* text-decoration: underline; */
    margin-left: auto;
    margin-right: auto;
}

.amnt-tend{
    width: 80%;
    margin-left: 10px;
    border: none;
}
.rs-pay{
    padding-left: 10px;
    font-size: 30px;
}

.total-rect{
    border:1px solid #d8cfcf;
    padding: 6px;
    font-size: 30px;
    font-weight: 400;
}
.total-rect-value{
    padding-left: 10px;
}
.pos-pay-total{
    text-align: center;
    padding-top: 12px;
}
.pay-options{
    border:1px solid #d8cfcf;
    padding: 6px;
    margin-left: 5px !important;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px !important;
}
#cardOptions{
    display: none;
}
#voucherOptions{
    display: none;
}
#cardOptions1{
    display: none;
}
#voucherOptions1{
    display: none;
}
#cardOptions2{
    display: none;
}
#voucherOptions2{
    display: none;
}
#splitOptions{
    display: none;
}
#loyaltyOptions{
    padding: 10px;
    display: none;
}
.load-spinner-cus{
    margin-left: auto;
    text-align: center;
    margin-right: auto;
    display: none;

}
.opacity4{
    opacity: 0.4;
}
.pay-model-btn{
    width: 100%;
    color: white;
    background-color: #192b3c;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    display: none;
    font-weight: 600;
}
.dropdown-menu{
    width: 79%;
    padding:10px;
}
.service-cus-dropdown{
    width: 90%;
}
.dropdown-menu li {
    color: black;
    cursor: pointer;
}
.dropdown-menu li{
    padding: 10px 20px;
}
.sid{
    text-align: left;
}
.sname{
    float: right;
}

/******Login ******/
.login{
    background-image: url("/images/login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.login-div{
    margin: 0;
    position: absolute;
    top: 55%;
    right: 75px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.login-container{
    width: 340px;

    background-color: rgba(255, 255, 255, 0.95);

    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px 30px;
}
.logo-container{
    width: 340px;
    -ms-transform: translateY(-100%);
    position: absolute;
    transform: translateY(-100%);
    background-color: rgba(255, 255, 255, 0.6);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.login-container .form-group{
    margin-bottom: 0;
}
.login-container .float-label{
    top:-45px;
    position: relative;
}
.login-container .form-control{
    height: 40px;
}
.login .logo{
    width: 200px;
    display: block;
    margin: 20px auto;
}
.login-title{
    text-align: center;
    text-decoration: underline;
    color: #777777;
    padding: 30px 0;
}
.login-btn{
    padding: 10px 60px;
    border-radius: 50px;
    font-weight: bold;
    color: white;
    border: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #192b3c;
    margin-bottom: 50px;

}
.size{
    font-size: 14px;
    opacity: 0.3;
}
.permission-check{
    padding-left: 40px ;
    padding-top: 20px;
}
.emp-check{
    padding-left: 20px;
}
.permission-check .form-check-label{
    margin-left: 12px;
}
.permission-check input[type=checkbox]{
    height: 18px;
    width: 20px;
}
.permission-check .form-check-input {
    margin-top: 0.1rem;
}
.access-permission{
    margin: 0px 20px;
    border: 2px solid #5c8bab ;
    height: 100%;
}
.access-permission .section{

    margin-top: 0;
    padding: 0 0px 20px;
}
.access-permission .section-title{
    background-color: #5c8bab;
    color: white;
    padding-top: 20px;

}

/*******Select Products for Barcode *******/
.selectProductsContent .item-display{
    min-height: 60vh;
    height: 100%;
}
.selectProductsContent .item-display .table{
    text-align: center;
}
.selectProductsContent{
    font-weight: 700;
}

.selectProductsContent .dropdown-menu{
    height: 60%;
    width: 97%;
}
.selectProductsContent .item-display{
    margin-top: 0px;
}
.barcode-qty{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.sp-barcode{
    display: inline-block;
    padding-top: 10px;
}
.cursor{
    cursor: pointer;
}
.allexpense .pos-sub-display-title{
    background-color: #3e505c;
}
.allexpense .add-sub-btn{
    background-color: #3e505c;
}
.selectAll{
    float: right;
    width: 45px;
    height: 25px;
    margin-top: 5px;
}
/*******End of User Permission******/

/******Message Box ********/
.message{
    width: 250px;
    height: 70px;
    color: #155724;
    /* color: white; */
    background-color: #d4edda;
    border-color: #c3e6cb;
    position: absolute;


    top: 55px;
    left: 0;
    right: 0;
    margin: auto;
}
.message-success{
    font-size: 24px;
    text-align: left;

}
.message-icon{
    font-size: 44px;
    position: relative;
    top: 14px;
    left: 25px;

}
.message-text{
    padding-left: 5px;
    position: relative;
    top: 0px;
    left: 25px;

}
.message-text-sub{
    padding-left: 5px;
    display: block;
    font-size: 12px;
    position: relative;
    left: 79px;
    top: -9px;
}
.invalid-credentials{
    color: #e21919;;
    position: absolute;
    bottom: 115px;
    left: 48px;
}
.poslogin .invalid-credentials{

    bottom: 87px;

}
.promotion-pos{
    color: #da1919;
    font-size: 12px;
    display: none;
}
.ministats .col{
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    height: 100px;
    border: 1px solid #56565636;
}
.stats-amnt{
    font-size: 26px;
}
#stats-amnt-1{
    color: #21C3BF;
}
#stats-amnt-2{
    color: #836A9D;
}
#stats-amnt-3{
    color: #92C0E2;
}
#stats-amnt-4{
    color: #A6EE8A;

}
.stats-name{
    font-size: 14px;
    font-weight: 600;
    color: #5656567d;
}
.stats-icon{
    position: absolute;
    font-size: 30px;
    opacity: 0.4;
    right: 25px;
    top: 35px;

}
#stats-icon-1{
    color: #21C3BF;
    opacity: 0.2;
}
#stats-icon-2{
    color: #836A9D;
}
#stats-icon-3{
    color: #92C0E2;
}
#stats-icon-4{
    color: #A6EE8A;

}
.section-dashboard{
    height: 350px;
    background-color: #fff;
    border: 1px solid #56565636;
    padding: 20px;
}

.login-controller .invalid-feedback{
    width: 50%;
}
.emp-attendance{
    width: 500px;
}

.none{
    display: none;
}
.block{
    display: block;
}
/* .sec-promotion{
    padding: 15px;
} */
.sec-promotion{
    height: auto;
}
.sec-promotion .section-title{
    padding-left: 0;
}
.sec-promotion .row{
    padding: 10px 8px;
}
.promotion .search-textbox{
    font-size: 18px;
}
.discount-plus{
    color:#256ea1;
}
.cancel{
    color: rgb(182, 46, 46);
    font-size: 22px;
    cursor: pointer;
}

.period-selector{
    display: inline-block;
    float: right;
    width: 15%;

}

.daterange{
    font-size: 16px;
    padding: 6px;
    text-align: center;
    border: 1px solid #ced4da;
    margin-left: 15px;
    width: 20%;
    display: none;
}

.dash{
    margin-left: 15px;
}
.p-select, .daterange,.dash{
    float: right;
}
.period-selector select{
    text-align: center;
    text-align-last:center;
}

.value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 45px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    padding: 4px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .value-button:hover {
    cursor: pointer;
  }
  #percents{
      display: none;
  }

  /**********POS Login********/
  .num{
    padding: 12px;
    text-align: center;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: 1px solid #d8cfcf;
    font-size: 20px;
    font-weight: 600;
    color: #0000008f;
  }
.login-num{
    margin-left: 10px;
}
.login-num .row{
    margin-bottom: 15px;
}
.poslogin .login-btn{
    margin-bottom: 20px;
    width: 100%;
}
.poslogin #name{
    text-align: center;
}

/********** Not Found Page *********/

#notfound {
    position: relative;
    height: 100vh;
  }

  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .notfound {
    max-width: 560px;
    width: 100%;
    padding-left: 160px;
    line-height: 1.1;
  }

  .notfound .notfound-404 {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 140px;
    height: 140px;
    background-image: url('../images/emoji.png');
    background-size: cover;
  }

  .notfound .notfound-404:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(2.4);
        -ms-transform: scale(2.4);
            transform: scale(2.4);
    border-radius: 50%;
    background-color: #f2f5f8;
    z-index: -1;
  }

  .notfound h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 65px;
    font-weight: 700;
    margin-top: 0px;
    color: #151723;
    text-transform: uppercase;
  }

  .notfound h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 21px;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    color: #151723;
  }

  .notfound p {
    font-family: 'Nunito', sans-serif;
    color: #999fa5;
    font-weight: 400;
    margin-top: 10px;
  }

  .return-total-txt{
    margin-left: 20px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 25px;
  }
  .return-total-box{

    border: 1px solid #d8cfcf;
    padding: 6px 12px;
    display: inline-block;
    height: 50px;
    min-width: 250px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;

  }
  .col-left{
      text-align:  left;
      font-size: 20px;
      font-weight: 600;
  }
  .col-right{
      text-align: right;
      font-size: 20px;
  }
  .showSales .section .row{
        padding: 15px 0px;
  }
.item-table-row{
      cursor: pointer;
}

.return-remarks{
    border: 2px solid #d8cfcf;
    padding: 6px 12px;
    min-height: 150px;
    height: 100%;
}
#remarks-row{
    padding: 0px 0px;
}
.header-logout{
    width: 118px;
    float: right;
    right: 0 !important;
    margin-left: auto;
    min-width: 100px;
    margin-top: 8px;
    padding: 0px 11px;
}
.pin{
    text-align: center;
}
.user-invalid{
    position: absolute;
    top: 145px;
}
.password-invalid{
    position: absolute;
    top: 225px;
}
